## For 迴圈

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
for qoo in l:
    print(qoo)

1
2
3
4
5
6
7
8
9
10

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
for qoo in l:
    print(qoo * qoo)

1
4
9
16
25
36
49
64
81
100

In [4]:
# for(i =1; i< 11; i++)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
list_num = 0 
for num in range(1,11):
    list_num = list_num + num
list_num

55

In [6]:
list_num = 0 
for num in range(1,101):
    list_num = list_num + num
list_num

5050

In [7]:
list_num = 0 
for num in range(1,101):
    #list_num = list_num + num
    list_num += num
list_num

5050

In [9]:
s = 'this is a string'
for letter in s:
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [10]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [11]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [13]:
for t1, t2 in l:
    print(t1 * 10 , t2)

20 4
60 8
100 12

In [14]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [15]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(d[item])

1
2
3

In [16]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(d.get(item))

1
2
3

In [18]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [20]:
d.values()

dict_values([1, 2, 3])

In [21]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [22]:
for k,v in d.items():
    print(k,v)

k1 1
k2 2
k3 3

In [23]:
d   = {'k1':1,'k2':2,'k3':3}
ary = []
for item in d:
    ary.append(d.get(item))
ary

[1, 2, 3]

In [24]:
[d.get(item) for item in d]

[1, 2, 3]

In [26]:
d   = {'k1':1,'k2':2,'k3':3}
ary = []
for item in d:
    if d.get(item) >=2:
        ary.append(d.get(item))
ary

[2, 3]

In [27]:
[d.get(item) for item in d if d.get(item) >= 2]

[2, 3]

In [29]:
fruits= ['orange', 'apple', 'bannana']
ary = []
for ele in fruits:
    ary.append(ele.upper())
ary

['ORANGE', 'APPLE', 'BANNANA']

In [31]:
[ele.upper() for ele in fruits if 'e' in ele]

['ORANGE', 'APPLE']