## Map

In [1]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

def celsius(T):
    return (float(5)/9)*(T-32)

In [2]:
temp = [16, 22.5, 30]
F_temps = map(fahrenheit, temp)
F_temps

In [3]:
for t in F_temps:
    print(t)

60.8
72.5
86.0

In [9]:
F_temps = map(fahrenheit, temp)

In [10]:
F_temps2 = map(celsius, F_temps)

In [11]:
for ele in F_temps2:
    print(ele)

16.0
22.5
30.0

In [ ]:
# y  = a(x)
# y2 = g(y)
# y3 = h(y2)

# y3 = h(g(a(x)))

In [37]:
a = [1,2,3,6,7,9]
print(a)
b = [e for e in a if e % 2 == 0]
print(b)
c = max(b)
print(c)

[1, 2, 3, 6, 7, 9]
[2, 6]
6

In [15]:
b

[2, 6]

In [36]:
def even(e):
    if e % 2 == 0:
        return e
    else:
        return -1
    
a    = [1,2,3,6,7,9]
max(map(even, a))

6

In [39]:
a = [1,2,3,4]
b = [5,6,7,8]


for ele in map(lambda x,y:x+y,a,b):
    print(ele)

6
8
10
12

In [40]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

for ele in map(lambda x,y,z:x*z+y,a,b,c):
    print(ele)

14
26
40
56

## Reduce

In [41]:
from functools import reduce
A = [1,2,3,4]
reduce(lambda x,y: x * y, A )

24

In [44]:
def even(e):
    if e % 2 == 0:
        return e
    else:
        return 0
    
a    = [1,2,3,6,7,9]

reduce(lambda x,y: x+y, map(even, a))

8

In [45]:
max_find = lambda a,b: a if a > b else b
reduce(max_find, A)

4

In [46]:
def even(e):
    if e % 2 == 0:
        return e
    else:
        return 0
    
a    = [1,2,3,6,7,9]

reduce(max_find, map(even, a))

6

## Filter

In [47]:
A = [55, 92, 35, 98]
ary = []
for ele in A:
    if ele >= 90:
        ary.append(ele)
ary

[92, 98]

In [48]:
[ele for ele in A if ele >= 90 ]

[92, 98]

In [51]:
def getGoodGrades(grade):
    if grade >= 90:
        return True

goodgrades = filter(getGoodGrades, A)

In [52]:
for e in goodgrades:
    print(e)

92
98

In [53]:
def even(num):
    return num%2 ==0

lst = range(20)
even_list = filter(even, lst)
for e in even_list:
    print(e)

0
2
4
6
8
10
12
14
16
18

In [55]:
even_list = filter(lambda x: x%2 == 0, lst)

In [56]:
for ele in even_list:
    print(ele)

0
2
4
6
8
10
12
14
16
18

In [61]:
# Traditional Method
import math
a = [80,82,77,60,53,69,90,62]
b = [math.sqrt(e) * 10 for e in a]
c = [e for e in b if e > 90]
d = max(c)
d

94.86832980505139

In [80]:
# Functional Programming
filter_grade = lambda x: x>= 90
max_find     = lambda a,b: a if a > b else b
add_grade    = lambda g: math.sqrt(g) * 10 

a = [80,82,77,60,53,69,90,62]

reduce(max_find, filter(filter_grade, map(add_grade, a)))

94.86832980505139

## ZIP

In [83]:
name   = ['David', 'John', 'Marry']
height = [180    ,  172  ,  166]
for i in range(0, len(name)):
    print(name[i], height[i])

David 180
John 172
Marry 166

In [85]:
list(zip(name, height))

[('David', 180), ('John', 172), ('Marry', 166)]

In [86]:
dict(zip(name, height))

{'David': 180, 'John': 172, 'Marry': 166}

In [88]:
x = [1,2,3]
y = [4,5,6,7,8]
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [89]:
for i in range(0, len(x)):
    print(x[i], y[i])

1 4
2 5
3 6

In [90]:
for i in range(0, len(y)):
    print(x[i], y[i])

1 4
2 5
3 6

IndexError: list index out of range

In [92]:
d1 = {'a':1, 'b':2}
d2 = {'c':4, 'd':5}
list(zip(d1, d2))

[('a', 'c'), ('b', 'd')]

In [94]:
list(zip(d2, d1.values()))

[('c', 1), ('d', 2)]

In [96]:
d1 = {'a':1, 'b':2}
d2 = {'c':4, 'd':5}

In [99]:
def switcharoo(d1,d2): 
    dout = {}
    for d1key,d2val in zip(d1,d2.values()): 
        print(d1key, d2val)
        dout[d1key] = d2val
    return dout

switcharoo(d1,d2)

a 4
b 5

{'a': 4, 'b': 5}

## Enumerate

In [100]:
name   = ['David', 'John', 'Marry']
name.index('John')

1

In [101]:
k = 0 
for e in name:
    print(k, e)
    k += 1

0 David
1 John
2 Marry

In [103]:
list(enumerate(name))

[(0, 'David'), (1, 'John'), (2, 'Marry')]

In [104]:
for idx, rec in enumerate(name):
    print(idx, rec)

0 David
1 John
2 Marry

In [105]:
for idx, rec in enumerate(name):
    if idx >= 1:
        print(idx, rec)

1 John
2 Marry

## All & Any

In [106]:
lst = [True,True,False,True] 
all(lst)
#any(lst)

False

In [107]:
lst2 = [True,True,True,True] 
all(lst2)

True

In [108]:
any(lst)

True

In [109]:
any(lst2)

True