## Map

In [1]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

def celsius(T):
    return (float(5)/9)*(T-32)

In [2]:
temp = [16, 22.5, 30]
F_temps = map(fahrenheit, temp)
F_temps

In [3]:
for t in F_temps:
    print(t)

60.8
72.5
86.0

In [9]:
F_temps = map(fahrenheit, temp)

In [10]:
F_temps2 = map(celsius, F_temps)

In [11]:
for ele in F_temps2:
    print(ele)

16.0
22.5
30.0

In [ ]:
# y  = a(x)
# y2 = g(y)
# y3 = h(y2)

# y3 = h(g(a(x)))

In [37]:
a = [1,2,3,6,7,9]
print(a)
b = [e for e in a if e % 2 == 0]
print(b)
c = max(b)
print(c)

[1, 2, 3, 6, 7, 9]
[2, 6]
6

In [15]:
b

[2, 6]

In [36]:
def even(e):
    if e % 2 == 0:
        return e
    else:
        return -1
    
a    = [1,2,3,6,7,9]
max(map(even, a))

6

In [39]:
a = [1,2,3,4]
b = [5,6,7,8]


for ele in map(lambda x,y:x+y,a,b):
    print(ele)

6
8
10
12

In [40]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

for ele in map(lambda x,y,z:x*z+y,a,b,c):
    print(ele)

14
26
40
56

## Reduce

In [41]:
from functools import reduce
A = [1,2,3,4]
reduce(lambda x,y: x * y, A )

24

In [44]:
def even(e):
    if e % 2 == 0:
        return e
    else:
        return 0
    
a    = [1,2,3,6,7,9]

reduce(lambda x,y: x+y, map(even, a))

8

In [45]:
max_find = lambda a,b: a if a > b else b
reduce(max_find, A)

4

In [46]:
def even(e):
    if e % 2 == 0:
        return e
    else:
        return 0
    
a    = [1,2,3,6,7,9]

reduce(max_find, map(even, a))

6

## Filter

In [47]:
A = [55, 92, 35, 98]
ary = []
for ele in A:
    if ele >= 90:
        ary.append(ele)
ary

[92, 98]

In [48]:
[ele for ele in A if ele >= 90 ]

[92, 98]

In [51]:
def getGoodGrades(grade):
    if grade >= 90:
        return True

goodgrades = filter(getGoodGrades, A)

In [52]:
for e in goodgrades:
    print(e)

92
98

In [53]:
def even(num):
    return num%2 ==0

lst = range(20)
even_list = filter(even, lst)
for e in even_list:
    print(e)

0
2
4
6
8
10
12
14
16
18

In [55]:
even_list = filter(lambda x: x%2 == 0, lst)

In [56]:
for ele in even_list:
    print(ele)

0
2
4
6
8
10
12
14
16
18

In [61]:
# Traditional Method
import math
a = [80,82,77,60,53,69,90,62]
b = [math.sqrt(e) * 10 for e in a]
c = [e for e in b if e > 90]
d = max(c)
d

94.86832980505139

In [80]:
# Functional Programming
filter_grade = lambda x: x>= 90
max_find     = lambda a,b: a if a > b else b
add_grade    = lambda g: math.sqrt(g) * 10 

a = [80,82,77,60,53,69,90,62]

reduce(max_find, filter(filter_grade, map(add_grade, a)))

94.86832980505139

## ZIP

In [83]:
name   = ['David', 'John', 'Marry']
height = [180    ,  172  ,  166]
for i in range(0, len(name)):
    print(name[i], height[i])

David 180
John 172
Marry 166

In [85]:
list(zip(name, height))

[('David', 180), ('John', 172), ('Marry', 166)]

In [86]:
dict(zip(name, height))

{'David': 180, 'John': 172, 'Marry': 166}

In [88]:
x = [1,2,3]
y = [4,5,6,7,8]
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [89]:
for i in range(0, len(x)):
    print(x[i], y[i])

1 4
2 5
3 6

In [90]:
for i in range(0, len(y)):
    print(x[i], y[i])

1 4
2 5
3 6

IndexError: list index out of range

In [92]:
d1 = {'a':1, 'b':2}
d2 = {'c':4, 'd':5}
list(zip(d1, d2))

[('a', 'c'), ('b', 'd')]

In [94]:
list(zip(d2, d1.values()))

[('c', 1), ('d', 2)]

In [96]:
d1 = {'a':1, 'b':2}
d2 = {'c':4, 'd':5}

In [99]:
def switcharoo(d1,d2): 
    dout = {}
    for d1key,d2val in zip(d1,d2.values()): 
        print(d1key, d2val)
        dout[d1key] = d2val
    return dout

switcharoo(d1,d2)

a 4
b 5

{'a': 4, 'b': 5}

## Enumerate

In [100]:
name   = ['David', 'John', 'Marry']
name.index('John')

1

In [101]:
k = 0 
for e in name:
    print(k, e)
    k += 1

0 David
1 John
2 Marry

In [103]:
list(enumerate(name))

[(0, 'David'), (1, 'John'), (2, 'Marry')]

In [104]:
for idx, rec in enumerate(name):
    print(idx, rec)

0 David
1 John
2 Marry

In [105]:
for idx, rec in enumerate(name):
    if idx >= 1:
        print(idx, rec)

1 John
2 Marry

## All & Any

In [106]:
lst = [True,True,False,True] 
all(lst)
#any(lst)

False

In [107]:
lst2 = [True,True,True,True] 
all(lst2)

True

In [108]:
any(lst)

True

In [109]:
any(lst2)

True

## Generator

In [110]:
def genCubes(n):
    for num in range(n):
        yield num ** 3

In [111]:
for x in genCubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [ ]:
1,1,2,3,5,8,...

In [112]:
def genfibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b, a + b
        
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [113]:
def fibon(n): 
    a,b = 1,1
    output = []
    for i in range(n):
        output.append(a)
        a,b = b,a+b 
    return output

fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Decorator

In [116]:
def hello(name='Qoo'): 
    def greet():
        return 'This is inside the greet() function'
    def welcome():
        return "This is inside the welcome() function"
    
    if name == 'Qoo':
        return greet
    else:
        return welcome
    
x = hello()
x()
#print(x())

'This is inside the greet() function'

In [117]:
x = hello(name = 'oop')
x()

'This is inside the welcome() function'

In [120]:
def google(term):
    return 'Here is the term search result'

def wakeup(time):
    return "It is {} o'clock, please wakeup".format(time)

def orderMeal(meal):
    return 'Here is your meal: {}'.format(meal)


qa = {'請幫我搜尋': google,\
      '請叫我起床': wakeup,\
      '請幫我點餐': orderMeal}

In [121]:
qa.get('請幫我搜尋')('少女時代')

'Here is the term search result'

In [122]:
qa.get('請叫我起床')('7')

"It is 7 o'clock, please wakeup"

In [123]:
qa.get('請幫我點餐')('steak')

'Here is your meal: steak'

In [124]:
def hello(): 
    return('Hi QOO!')

def other(func):
    print(func)
    print('Other')
    print(func())

other(hello)

<function hello at 0x10fd79730>
Other
Hi QOO!

## Decorator

In [145]:
def new_decorator(func):
    
    def wrap_func(): 
        print("Before func") 
        func()
        print("After func()")
        
    return wrap_func
    
def func_needs_decorator():
    print("Function needs Decorator")

In [146]:
func_needs_decorator()

Function needs Decorator

In [147]:
func_needs_decorator = new_decorator(func_needs_decorator)

In [148]:
func_needs_decorator()

Before func
Function needs Decorator
After func()

In [149]:
@new_decorator
def func_needs_decorator():
    print("Function needs Decorator")

In [150]:
func_needs_decorator()

Before func
Function needs Decorator
After func()

## Pythonic (Python Style)

In [153]:
a = 3
b = 1
# p
1 <= b <= a < 10

True

In [152]:
#np
1 <=b and b <=a and a < 10

True

In [154]:
name = 'Tim'
langs = ['AS3', 'Lua', 'C']
info = {'name':'Tim', 'Sex':'Male', 'age':23}

In [155]:
if name:
    print(name)

Tim

In [160]:
# name = ''
# name = None
name = 'qoo'
if name:
    print(name)

qoo

In [161]:
#np
if name != '' and len(langs) > 0 and info != {}:
    print('All True')

All True

In [162]:
if name and langs and info:
    print('All True')

All True

In [163]:
# p 
s = 'hello world'
s[::-1]

'dlrow olleh'

In [165]:
strList = ['python', 'is', 'good']

#np
s = ''
for ele in strList:
    s +=  ele
print(s)

#p
' '.join(strList)

pythonisgood

'python is good'

In [166]:
# p 
numList = [1,2,3,4,5]
s = sum(numList)
maxNum = max(numList)
minNum = min(numList)
print(s, maxNum, minNum)

15 5 1

In [167]:
from functools import reduce
reduce(lambda a,b:a*b, numList)

120

In [169]:
#np 
ary = []
for l in range(10):
    if l % 3 ==0:
        ary.append(l * l)
ary

[0, 9, 36, 81]

In [170]:
# p 
[l * l for l in range(10) if l % 3 == 0 ]

[0, 9, 36, 81]

In [171]:
#p
dic = {'name':'Tim', 'age':23}

dic['workage'] = dic.get('workage',0) + 1

In [172]:
dic

{'age': 23, 'name': 'Tim', 'workage': 1}

In [173]:
#p 
for x in range(1,5):
    if x == 5: 
        print('find 5')
        break 
else:
    print('can not find 5!')

can not find 5!

In [175]:
# np 
a = 3
if a > 2:
    b=2 
else:
    b=1
b

2

In [176]:
# p
b = 2 if a > 2 else 1

In [177]:
b

2

In [179]:
# p 
array = [1, 2, 3, 4, 5]
for i, e in enumerate(array): 
    print(i, e)

0 1
1 2
2 3
3 4
4 5

In [180]:
# zip
keys   = ['Name', 'Sex', 'Age'] 
values = ['Tim', 'Male',   23]
dic = dict(zip(keys, values))
dic

{'Age': 23, 'Name': 'Tim', 'Sex': 'Male'}

In [181]:
list(zip(keys, values))

[('Name', 'Tim'), ('Sex', 'Male'), ('Age', 23)]

In [182]:
import pandas

In [184]:
df = pandas.DataFrame([1,2,3,4,5])

In [186]:
?df.set_index

In [187]:
?df.reindex

In [188]:
?df.reset_index

In [194]:
df.index = pandas.RangeIndex(start=6, stop=11, step=1)

In [195]:
df

    0
6   1
7   2
8   3
9   4
10  5