## For 迴圈

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
for qoo in l:
    print(qoo)

1
2
3
4
5
6
7
8
9
10

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
for qoo in l:
    print(qoo * qoo)

1
4
9
16
25
36
49
64
81
100

In [4]:
# for(i =1; i< 11; i++)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
list_num = 0 
for num in range(1,11):
    list_num = list_num + num
list_num

55

In [6]:
list_num = 0 
for num in range(1,101):
    list_num = list_num + num
list_num

5050

In [7]:
list_num = 0 
for num in range(1,101):
    #list_num = list_num + num
    list_num += num
list_num

5050

In [9]:
s = 'this is a string'
for letter in s:
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [10]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [11]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [13]:
for t1, t2 in l:
    print(t1 * 10 , t2)

20 4
60 8
100 12

In [14]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [15]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(d[item])

1
2
3

In [16]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(d.get(item))

1
2
3

In [18]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [20]:
d.values()

dict_values([1, 2, 3])

In [21]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [22]:
for k,v in d.items():
    print(k,v)

k1 1
k2 2
k3 3

In [23]:
d   = {'k1':1,'k2':2,'k3':3}
ary = []
for item in d:
    ary.append(d.get(item))
ary

[1, 2, 3]

In [24]:
[d.get(item) for item in d]

[1, 2, 3]

In [26]:
d   = {'k1':1,'k2':2,'k3':3}
ary = []
for item in d:
    if d.get(item) >=2:
        ary.append(d.get(item))
ary

[2, 3]

In [27]:
[d.get(item) for item in d if d.get(item) >= 2]

[2, 3]

In [29]:
fruits= ['orange', 'apple', 'bannana']
ary = []
for ele in fruits:
    ary.append(ele.upper())
ary

['ORANGE', 'APPLE', 'BANNANA']

In [31]:
[ele.upper() for ele in fruits if 'e' in ele]

['ORANGE', 'APPLE']

## 一個範例

### 請忽略他

In [61]:
import requests
from bs4 import BeautifulSoup
res = requests.get('https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=616f426a47453f55303139622f6336175435f416d4b353f2020202063373a2524290j49&jobsource=hotjob_chr')
res.encoding = 'utf-8'
soup = BeautifulSoup(res.text, 'html.parser')
intro = soup.select_one('.intro')
dd = intro.select('dd')
dt = intro.select('dt')
dd = [''.join(ele.text.split()) for ele in dd]
dt = [''.join(ele.text.split()).rstrip('：') for ele in dt]
dt

['產業類別', '產業描述', '員工', '資本額', '聯絡人', '公司地址', '電話', '傳真', '公司網址', '相關連結']

In [62]:
a = '            Marry           XMas and Happy      New Year'
a.split()
' '.join(a.split())

'Marry XMas and Happy New Year'

In [63]:
## Method 1
dic = {}
for i in range(0,len(dd)):
    dic[dt[i]] = dd[i]
dic

{'傳真': '暫不提供',
 '公司地址': '台北市中正區忠孝東路一段9號地圖',
 '公司網址': 'http://www.giraffe.com.tw',
 '員工': '120人',
 '產業描述': '圖書出版及文化事業',
 '產業類別': '其他教育服務業',
 '相關連結': '長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱',
 '聯絡人': '人資部',
 '資本額': '9000萬元',
 '電話': '暫不提供'}

In [64]:
## Method2 
dic = {}
for t, d in zip(dt, dd):
    dic[t] = d
dic

{'傳真': '暫不提供',
 '公司地址': '台北市中正區忠孝東路一段9號地圖',
 '公司網址': 'http://www.giraffe.com.tw',
 '員工': '120人',
 '產業描述': '圖書出版及文化事業',
 '產業類別': '其他教育服務業',
 '相關連結': '長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱',
 '聯絡人': '人資部',
 '資本額': '9000萬元',
 '電話': '暫不提供'}

In [65]:
## Method3 
dict(zip(dt, dd))

{'傳真': '暫不提供',
 '公司地址': '台北市中正區忠孝東路一段9號地圖',
 '公司網址': 'http://www.giraffe.com.tw',
 '員工': '120人',
 '產業描述': '圖書出版及文化事業',
 '產業類別': '其他教育服務業',
 '相關連結': '長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱',
 '聯絡人': '人資部',
 '資本額': '9000萬元',
 '電話': '暫不提供'}

In [66]:
import pandas
df = pandas.DataFrame([dict(zip(dt, dd))])
df

,傳真,公司地址,公司網址,員工,產業描述,產業類別,相關連結,聯絡人,資本額,電話
0,暫不提供,台北市中正區忠孝東路一段9號地圖,http://www.giraffe.com.tw,120人,圖書出版及文化事業,其他教育服務業,長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱,人資部,9000萬元,暫不提供

## Iterator

In [67]:
s = [1,2,3,4,5]
s_iter = iter(s)

In [69]:
next(s_iter)

2

In [70]:
next(s_iter)

3

## While Loop

In [71]:
x = 0 
while x < 10:
    print('Current X is', x)
    print('x is still less than 10, adding one to x')
    x += 1

Current X is 0
x is still less than 10, adding one to x
Current X is 1
x is still less than 10, adding one to x
Current X is 2
x is still less than 10, adding one to x
Current X is 3
x is still less than 10, adding one to x
Current X is 4
x is still less than 10, adding one to x
Current X is 5
x is still less than 10, adding one to x
Current X is 6
x is still less than 10, adding one to x
Current X is 7
x is still less than 10, adding one to x
Current X is 8
x is still less than 10, adding one to x
Current X is 9
x is still less than 10, adding one to x

In [72]:
x = 0 
while x < 10:
    print('Current X is', x)
    print('x is still less than 10, adding one to x')
    x += 1
else:
    print('ALL DONE')

Current X is 0
x is still less than 10, adding one to x
Current X is 1
x is still less than 10, adding one to x
Current X is 2
x is still less than 10, adding one to x
Current X is 3
x is still less than 10, adding one to x
Current X is 4
x is still less than 10, adding one to x
Current X is 5
x is still less than 10, adding one to x
Current X is 6
x is still less than 10, adding one to x
Current X is 7
x is still less than 10, adding one to x
Current X is 8
x is still less than 10, adding one to x
Current X is 9
x is still less than 10, adding one to x
ALL DONE

In [73]:
x = 0 
while x < 10:
    print('Current X is', x)
    print('x is still less than 10, adding one to x')
    x += 1
    if x == 3:
        print('x == 3')
        break
    else:
        print('x is not equal to 3')
        continue

Current X is 0
x is still less than 10, adding one to x
x is not equal to 3
Current X is 1
x is still less than 10, adding one to x
x is not equal to 3
Current X is 2
x is still less than 10, adding one to x
x == 3

## 無窮迴圈

In [75]:
#while True:
#    print('Infinity Loop')

In [1]:
! pip install sqlparse

Collecting sqlparse
  Downloading sqlparse-0.2.4-py2.py3-none-any.whl
Installing collected packages: sqlparse
Successfully installed sqlparse-0.2.4

In [76]:
import sqlparse

s = 'select * from foo;'
stmts = sqlparse.parse(s)
for ele in stmts:
    print(ele.tokens)

[<DML 'select' at 0x510CD08>, <Whitespace ' ' at 0x51336A8>, <Wildcard '*' at 0x5133648>, <Whitespace ' ' at 0x51333A8>, <Keyword 'from' at 0x5133228>, <Whitespace ' ' at 0x5133048>, <Identifier 'foo' at 0x508FB88>, <Punctuation ';' at 0x5133828>]

## 檔案讀寫

In [7]:
fid = open('test.txt', 'w')
fid.write('Hello\nWorld')
fid.close()

In [9]:
# r: read, a: append, w: write, b: binary
# ?open
with open('test.txt', 'w') as f:
    f.write('Hello\nWorld')

In [15]:
a = '                     this          is  a line with \n\n\n\n\n\n'
print(a.lstrip())
print(a.rstrip())
print(a.strip())

this          is  a line with






                     this          is  a line with
this          is  a line with

In [16]:
with open('test.txt') as fid:
    for line in fid:
        print(line.strip())

Hello
World

In [18]:
with open('test.txt') as fid:
    s =  fid.read()
print('line',s)

line Hello
World

In [19]:
k = 0
with open('test.txt') as fid:
    for line in fid:
        k = k + 1
k

2

In [22]:
ary = []
with open('test.txt') as f:
    for line in f:
        ary.append(line)
len(ary)

2

In [24]:
len([line for line in open('test.txt')])

2

## 計算詞頻

### Method1

In [27]:
with open('data/trump.txt', 'r') as f:
    for line in f:
        print(line.strip().split())
        break

['Chief', 'Justice', 'Roberts,', 'President', 'Carter,', 'President', 'Clinton,', 'President', 'Bush,', 'fellow', 'Americans', 'and', 'people', 'of', 'the', 'world', '–', 'thank', 'you.']

In [29]:
with open('data/trump.txt', 'r') as f:
    speech = f.read()

words = speech.split()

In [52]:
dic = {}
for w in words:
    if w not in dic:
        dic[w.lower().replace('.','')] = 1
    else:
        dic[w.lower().replace('.','')] = dic[w.lower().replace('.','')] + 1
#dic

In [53]:
from operator import itemgetter
swd = sorted(dic.items(), key = itemgetter(1), reverse=True)

In [54]:
for ele in swd[0:30]:
    print(ele)

('of', 44)
('will', 40)
('to', 32)
('our', 30)
('is', 20)
('the', 18)
('–', 14)
('all', 12)
('on', 11)
('are', 11)
('in', 10)
('be', 10)
('have', 9)
('not', 8)
('from', 8)
('by', 8)
('this', 7)
('that', 7)
('new', 7)
('we', 6)
('great', 6)
('their', 6)
('has', 6)
('back', 6)
('never', 6)
('with', 6)
('same', 6)
('people', 5)
('for', 5)
('been', 5)

In [55]:
stopwords = ["a", "about", "above", "above", "across", "after", "afterwards", "again", "against", "all", "almost", "alone", "along", "already", "also","although","always","am","among", "amongst", "amoungst", "amount",  "an", "and", "another", "any","anyhow","anyone","anything","anyway", "anywhere", "are", "around", "as",  "at", "back","be","became", "because","become","becomes", "becoming", "been", "before", "beforehand", "behind", "being", "below", "beside", "besides", "between", "beyond", "bill", "both", "bottom","but", "by", "call", "can", "cannot", "cant", "co", "con", "could", "couldnt", "cry", "de", "describe", "detail", "do", "done", "down", "due", "during", "each", "eg", "eight", "either", "eleven","else", "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone", "everything", "everywhere", "except", "few", "fifteen", "fify", "fill", "find", "fire", "first", "five", "for", "former", "formerly", "forty", "found", "four", "from", "front", "full", "further", "get", "give", "go", "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter", "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his", "how", "however", "hundred", "ie", "if", "in", "inc", "indeed", "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter", "latterly", "least", "less", "ltd", "made", "many", "may", "me", "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly", "move", "much", "must", "my", "myself", "name", "namely", "neither", "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone", "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on", "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our", "ours", "ourselves", "out", "over", "own","part", "per", "perhaps", "please", "put", "rather", "re", "same", "see", "seem", "seemed", "seeming", "seems", "serious", "several", "she", "should", "show", "side", "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone", "something", "sometime", "sometimes", "somewhere", "still", "such", "system", "take", "ten", "than", "that", "the", "their", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "therefore", "therein", "thereupon", "these", "they", "thickv", "thin", "third", "this", "those", "though", "three", "through", "throughout", "thru", "thus", "to", "together", "too", "top", "toward", "towards", "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us", "very", "via", "was", "we", "well", "were", "what", "whatever", "when", "whence", "whenever", "where", "whereafter", "whereas", "whereby", "wherein", "whereupon", "wherever", "whether", "which", "while", "whither", "who", "whoever", "whole", "whom", "whose", "why", "will", "with", "within", "without", "would", "yet", "you", "your", "yours", "yourself", "yourselves", "the"]

In [57]:
for key, val in swd[0:30]:
    if key not in stopwords and len(key) >= 2:
        print(key, val)

new 7
great 6
people 5

### Method2 
- https://docs.python.org/3.6/library/collections.html

In [63]:
from collections import Counter
c = Counter(' '.join([lines for lines in open('data/trump.txt')]).split())
c.most_common(10)

[('the', 73),
 ('and', 55),
 ('of', 44),
 ('will', 40),
 ('to', 32),
 ('our', 30),
 ('we', 26),
 ('is', 20),
 ('We', 16),
 ('–', 14)]

### Method3

In [69]:
c = Counter([w for w in open('data/trump.txt').read().lower().split() if w not in stopwords and len(w) >= 2])
c.most_common(10)

[('america', 14),
 ('president', 8),
 ('trump', 8),
 ('american', 8),
 ('people', 7),
 ('new', 7),
 ('great', 6),
 ('you.', 5),
 ('again.', 5),
 ('bring', 5)]

In [75]:
with open('data/trump.txt', 'r') as f:
    data = f.read()

ary = []
for word in data.split():
    word = word.lower()
    if word not in stopwords and len(word) >= 2:
        ary.append(word)

c = Counter(ary)
c.most_common(10)

[('america', 14),
 ('president', 8),
 ('trump', 8),
 ('american', 8),
 ('people', 7),
 ('new', 7),
 ('great', 6),
 ('you.', 5),
 ('again.', 5),
 ('bring', 5)]

## SQL Parser

In [78]:
! pip install --upgrade sqlparse

Requirement already up-to-date: sqlparse in c:\programdata\anaconda3\lib\site-packages

In [84]:
import sqlparse
print(sqlparse.format('select * from foo', reindent=True))
parsed = sqlparse.parse('select * from employee where age >= 30')
type(parsed)
parsed[0]
parsed[0].tokens

select *
from foo

[<DML 'select' at 0x516BA68>,
 <Whitespace ' ' at 0x516BA08>,
 <Wildcard '*' at 0x516BD08>,
 <Whitespace ' ' at 0x516BD68>,
 <Keyword 'from' at 0x516BDC8>,
 <Whitespace ' ' at 0x516BE28>,
 <Identifier 'employ...' at 0x51805E8>,
 <Whitespace ' ' at 0x516BEE8>,
 <Where 'where ...' at 0x51804F8>]

In [85]:
import sqlparse
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML


def is_subselect(parsed):
    if not parsed.is_group:
        return False
    for item in parsed.tokens:
        if item.ttype is DML and item.value.upper() == 'SELECT':
            return True
    return False


def extract_from_part(parsed):
    from_seen = False
    for item in parsed.tokens:
        if from_seen:
            if is_subselect(item):
                for x in extract_from_part(item):
                    yield x
            elif item.ttype is Keyword:
                raise StopIteration
            else:
                yield item
        elif item.ttype is Keyword and item.value.upper() == 'FROM':
            from_seen = True


def extract_table_identifiers(token_stream):
    for item in token_stream:
        if isinstance(item, IdentifierList):
            for identifier in item.get_identifiers():
                yield identifier.get_name()
        elif isinstance(item, Identifier):
            yield item.get_name()
        # It's a bug to check for Keyword here, but in the example
        # above some tables names are identified as keywords...
        elif item.ttype is Keyword:
            yield item.value


def extract_tables(sql):
    stream = extract_from_part(sqlparse.parse(sql)[0])
    return list(extract_table_identifiers(stream))


if __name__ == '__main__':
    sql = """
    select K.a,K.b from (select H.b from (select G.c from (select F.d from
    (select E.e from A, B, C, D, E), F), G), H), I, J, K order by 1,2;
    """

    tables = ', '.join(extract_tables(sql))
    print('Tables: {0}'.format(tables))

Tables: A, B, C, D, E, F, G, H, I, J, K

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:31: DeprecationWarning: generator 'extract_from_part' raised StopIteration

## Jieba

In [86]:
! pip install jieba

Requirement already satisfied: jieba in c:\programdata\anaconda3\lib\site-packages

In [88]:
with open('data/jobs.txt', 'r', encoding='utf-8') as f:
    speech = f.read()

In [93]:
import jieba
words = []
for w in jieba.cut(speech):
    words.append(w)

In [97]:
from collections import Counter
c = Counter(words)
for w, cnt in c.most_common(100):
    if len(w) >= 2:
        print(w, cnt)

自己 14
如果 12
賈伯斯 12
相信 11
公司 11
必須 10
生命 10
蘋果 10
時間 9
因此 8
不要 8
一天 8
別人 8
真正 7
工作 7
什麼 6
知道 6
決定 6
最好 6
直覺 6
每天 6
決不 6
never 6
故事 5
休學 5
不會 5
所有 5
今天 5
這些 5
失去 5
重要 5
內心 5
目標 5
進入 4
可以 4
當時 4
然而 4
電腦 4
我們 4
擁有 4
關聯 4
之明 4
未來 4
解雇 4
共同 4

In [99]:
c = Counter(jieba.cut(open('data/jobs.txt', 'r', encoding='utf-8').read()))
[rec for rec in c.most_common(100) if len(rec[0]) >= 2]

[('自己', 14),
 ('如果', 12),
 ('賈伯斯', 12),
 ('相信', 11),
 ('公司', 11),
 ('必須', 10),
 ('生命', 10),
 ('蘋果', 10),
 ('時間', 9),
 ('因此', 8),
 ('不要', 8),
 ('一天', 8),
 ('別人', 8),
 ('真正', 7),
 ('工作', 7),
 ('什麼', 6),
 ('知道', 6),
 ('決定', 6),
 ('最好', 6),
 ('直覺', 6),
 ('每天', 6),
 ('決不', 6),
 ('never', 6),
 ('故事', 5),
 ('休學', 5),
 ('不會', 5),
 ('所有', 5),
 ('今天', 5),
 ('這些', 5),
 ('失去', 5),
 ('重要', 5),
 ('內心', 5),
 ('目標', 5),
 ('進入', 4),
 ('可以', 4),
 ('當時', 4),
 ('然而', 4),
 ('電腦', 4),
 ('我們', 4),
 ('擁有', 4),
 ('關聯', 4),
 ('之明', 4),
 ('未來', 4),
 ('解雇', 4),
 ('共同', 4)]