## For 迴圈

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
for qoo in l:
    print(qoo)

1
2
3
4
5
6
7
8
9
10

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
for qoo in l:
    print(qoo * qoo)

1
4
9
16
25
36
49
64
81
100

In [4]:
# for(i =1; i< 11; i++)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
list_num = 0 
for num in range(1,11):
    list_num = list_num + num
list_num

55

In [6]:
list_num = 0 
for num in range(1,101):
    list_num = list_num + num
list_num

5050

In [7]:
list_num = 0 
for num in range(1,101):
    #list_num = list_num + num
    list_num += num
list_num

5050

In [8]:
s = 'this is a string'
for letter in s:
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [9]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [10]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [11]:
for t1, t2 in l:
    print(t1 * 10 , t2)

20 4
60 8
100 12

In [12]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [13]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(d[item])

1
2
3

In [14]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(d.get(item))

1
2
3

In [15]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [16]:
d.values()

dict_values([1, 2, 3])

In [17]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [18]:
for k,v in d.items():
    print(k,v)

k1 1
k2 2
k3 3

In [19]:
d   = {'k1':1,'k2':2,'k3':3}
ary = []
for item in d:
    ary.append(d.get(item))
ary

[1, 2, 3]

In [20]:
[d.get(item) for item in d]

[1, 2, 3]

In [21]:
d   = {'k1':1,'k2':2,'k3':3}
ary = []
for item in d:
    if d.get(item) >=2:
        ary.append(d.get(item))
ary

[2, 3]

In [22]:
[d.get(item) for item in d if d.get(item) >= 2]

[2, 3]

In [23]:
fruits= ['orange', 'apple', 'bannana']
ary = []
for ele in fruits:
    ary.append(ele.upper())
ary

['ORANGE', 'APPLE', 'BANNANA']

In [24]:
[ele.upper() for ele in fruits if 'e' in ele]

['ORANGE', 'APPLE']

## 一個範例

### 請忽略他

In [25]:
import requests
from bs4 import BeautifulSoup
res = requests.get('https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=616f426a47453f55303139622f6336175435f416d4b353f2020202063373a2524290j49&jobsource=hotjob_chr')
res.encoding = 'utf-8'
soup = BeautifulSoup(res.text, 'html.parser')
intro = soup.select_one('.intro')
dd = intro.select('dd')
dt = intro.select('dt')
dd = [''.join(ele.text.split()) for ele in dd]
dt = [''.join(ele.text.split()).rstrip('：') for ele in dt]
dt

['產業類別', '產業描述', '員工', '資本額', '聯絡人', '公司地址', '電話', '傳真', '公司網址', '相關連結']

In [26]:
a = '            Marry           XMas and Happy      New Year'
a.split()
' '.join(a.split())

'Marry XMas and Happy New Year'

In [27]:
## Method 1
dic = {}
for i in range(0,len(dd)):
    dic[dt[i]] = dd[i]
dic

{'傳真': '暫不提供',
 '公司地址': '台北市中正區忠孝東路一段9號地圖',
 '公司網址': 'http://www.giraffe.com.tw',
 '員工': '120人',
 '產業描述': '圖書出版及文化事業',
 '產業類別': '其他教育服務業',
 '相關連結': '長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱',
 '聯絡人': '人資部',
 '資本額': '9000萬元',
 '電話': '暫不提供'}

In [28]:
## Method2 
dic = {}
for t, d in zip(dt, dd):
    dic[t] = d
dic

{'傳真': '暫不提供',
 '公司地址': '台北市中正區忠孝東路一段9號地圖',
 '公司網址': 'http://www.giraffe.com.tw',
 '員工': '120人',
 '產業描述': '圖書出版及文化事業',
 '產業類別': '其他教育服務業',
 '相關連結': '長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱',
 '聯絡人': '人資部',
 '資本額': '9000萬元',
 '電話': '暫不提供'}

In [29]:
## Method3 
dict(zip(dt, dd))

{'傳真': '暫不提供',
 '公司地址': '台北市中正區忠孝東路一段9號地圖',
 '公司網址': 'http://www.giraffe.com.tw',
 '員工': '120人',
 '產業描述': '圖書出版及文化事業',
 '產業類別': '其他教育服務業',
 '相關連結': '長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱',
 '聯絡人': '人資部',
 '資本額': '9000萬元',
 '電話': '暫不提供'}

In [30]:
import pandas
df = pandas.DataFrame([dict(zip(dt, dd))])
df

,傳真,公司地址,公司網址,員工,產業描述,產業類別,相關連結,聯絡人,資本額,電話
0,暫不提供,台北市中正區忠孝東路一段9號地圖,http://www.giraffe.com.tw,120人,圖書出版及文化事業,其他教育服務業,長頸鹿網站｜企業簡介｜美語加盟｜GEO｜師訓課程｜更多商業司登記Google查公司名稱,人資部,9000萬元,暫不提供

## Iterator

In [31]:
s = [1,2,3,4,5]
s_iter = iter(s)

In [32]:
next(s_iter)

1

In [33]:
next(s_iter)

2

## While Loop

In [34]:
x = 0 
while x < 10:
    print('Current X is', x)
    print('x is still less than 10, adding one to x')
    x += 1

Current X is 0
x is still less than 10, adding one to x
Current X is 1
x is still less than 10, adding one to x
Current X is 2
x is still less than 10, adding one to x
Current X is 3
x is still less than 10, adding one to x
Current X is 4
x is still less than 10, adding one to x
Current X is 5
x is still less than 10, adding one to x
Current X is 6
x is still less than 10, adding one to x
Current X is 7
x is still less than 10, adding one to x
Current X is 8
x is still less than 10, adding one to x
Current X is 9
x is still less than 10, adding one to x

In [35]:
x = 0 
while x < 10:
    print('Current X is', x)
    print('x is still less than 10, adding one to x')
    x += 1
else:
    print('ALL DONE')

Current X is 0
x is still less than 10, adding one to x
Current X is 1
x is still less than 10, adding one to x
Current X is 2
x is still less than 10, adding one to x
Current X is 3
x is still less than 10, adding one to x
Current X is 4
x is still less than 10, adding one to x
Current X is 5
x is still less than 10, adding one to x
Current X is 6
x is still less than 10, adding one to x
Current X is 7
x is still less than 10, adding one to x
Current X is 8
x is still less than 10, adding one to x
Current X is 9
x is still less than 10, adding one to x
ALL DONE

In [36]:
x = 0 
while x < 10:
    print('Current X is', x)
    print('x is still less than 10, adding one to x')
    x += 1
    if x == 3:
        print('x == 3')
        break
    else:
        print('x is not equal to 3')
        continue

Current X is 0
x is still less than 10, adding one to x
x is not equal to 3
Current X is 1
x is still less than 10, adding one to x
x is not equal to 3
Current X is 2
x is still less than 10, adding one to x
x == 3

## 無窮迴圈

In [37]:
#while True:
#    print('Infinity Loop')